{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="center">
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="txt_field">
            <input type="text" name="username" placeholder="enter your username" class="form-control">
            <span></span>
            <label>Username: </label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" placeholder="enter your password" class="form-control">
            <span></span>
            <label>Password: </label>
        </div>
        <div class="button">
            <input class="btn login_btn" type="submit" value="Login">
        </div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class = "register">    
        Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
        </div>
    </form>
</div>
{% endblock content %}