{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">


<!-- NAVBAR -->
<nav class="navbar">
    <h3>Make-me-Up's Inventory</h3>
    <ul>
        <li>
            <a href="{% url 'main:create_product' %}">Add New Product</a>
        </li>
        <li>
            <a href="{% url 'main:logout' %}">Logout</a>
        </li>
    </ul>
</nav>

<!-- BIODATA -->
<h5>Name: {{name}}</h5>
<h5>Class: {{class}}</h5>


<div class="card-deck">
    {% for product in products %}
    <div class="card border-secondary mt-4">
        <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-title">Amount: {{product.amount}}</p>
            <p class="card-title">Description: {{product.description}}</p>
            <p class="card-title">Date Added: {{product.date_added}}</p>
            <a href="{% url 'main:edit_product' product.pk %}">
                <button>
                    Edit
                </button>
            </a>
            <a href="{% url 'main:delete_product' product.pk %}">
                <button>
                    Delete
                </button>
                </a>
        </div>
    </div>
    {% endfor %}
</div>

<br />

<div id="last_login">
    <p>Sesi terakhir login: {{ last_login }}</p>
</div>

{% endblock content %}